/*Personal screen resolution: var(--scale-width)x911*/

:root
{
    --scale-width: 1905;
    --scale-media-width: calc(1px * var(--scale-width));
    --pos-media-width: calc(1px * var(--scale-width));
    --real-media-width: calc(1px * var(--scale-width));
    font-size: calc(var(--scale-media-width) * 16/var(--scale-width));

    --black: black;
    --white-darkerer: rgb(90, 90, 90);
    --white-darker: rgb(219, 219, 219);
    --white: white;

    background-color: var(--white);
}

@media (prefers-color-scheme: dark)
{
    :root
    {
        --black: white;
        --white-darkerer: rgb(150, 150, 150);
        --white-darker: rgb(43, 43, 43);
        --white: rgb(20, 20, 20);
    }
}

html, body { overflow-x: hidden; }

.row-flex
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.column-flex, #main
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
}

#header-container
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: calc(var(--scale-media-width) * 80/var(--scale-width));

    background: var(--white);
    box-shadow: inset 0px 0px 0px calc(var(--scale-media-width) * 5/var(--scale-width)) var(--white-darker);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header
{
    position: relative;
    left: 0px;
    top: 0px;
    width: var(--real-media-width);
    height: calc(var(--scale-media-width) * 80/var(--scale-width));

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header-left
{
    margin-right: auto;

    width: var(--scale-media-width);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#header-right
{
    margin-left: auto;

    width: var(--scale-media-width);

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.masthead
{
    width: calc(var(--scale-media-width) * 200/var(--scale-width));
    aspect-ratio: 3/1;
}

.mode
{
    position: relative;
    top: calc(var(--pos-media-width) * 0/var(--scale-width));
    width: calc(var(--scale-media-width) * 60/var(--scale-width));
    height: calc(var(--scale-media-width) * 60/var(--scale-width));

    background: var(--black);
    box-shadow: inset 0px 0px 0px calc(var(--scale-media-width) * 3/var(--scale-width)) var(--white-darkerer);

    border-radius: 100%;
}

.clickable { cursor: pointer; }

.dropdown
{
    position: relative;
    width: calc(var(--scale-media-width) * 160/var(--scale-width));
    height: calc(var(--scale-media-width) * 70/var(--scale-width));

    background-color: var(--white);
    box-shadow: inset 0px 0px 0px calc(var(--scale-media-width) * 5/var(--scale-width)) var(--white);

    display: flex;
    justify-content: center;

    cursor: default;

    transition: background-color 0.2s cubic-bezier(0.1, 0.9, 1, 1), height 0.2s cubic-bezier(0.1, 0.9, 1, 1);
}

/*If the subdrop in a dropdown has focus, stay focused itself*/
.dropdown:hover, .dropdown:has(:focus)
{
    background-color: var(--white-darker);
    height: calc(var(--scale-media-width) * 300/var(--scale-width));
}

.subdrop
{
    --targ-top: 0px;

    position: absolute;
    top: 0px;
    left: calc(var(--pos-media-width) * 10/var(--scale-width));
    width: calc(var(--scale-media-width) * 140/var(--scale-width));
    height: calc(var(--scale-media-width) * 70/var(--scale-width));

    display: flex;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.1, 0.9, 1, 1), top 0.2s cubic-bezier(0.1, 0.9, 1, 1);

    pointer-events: none; /*Starts out unclickable, turns clickable after transition*/
}

/*If the subdrop in a dropdown has focus, keep all dropdowns visible still*/
.dropdown:hover .subdrop, .dropdown:has(:focus) .subdrop
{
    opacity: 1;
    top: var(--targ-top);
}

.subdrop:hover
{
    color: var(--white-darkerer);
}

.break-line
{
    width: 100vw;
    height: calc(var(--scale-media-width) * 10/var(--scale-width));

    background: var(--white-darker);
}

#footer-contents
{
    width: 100vw;
    height: calc(var(--scale-media-width) * 80/var(--scale-width));

    display: flex;
    flex-direction: row;
    justify-content: center;

    column-gap: calc(var(--pos-media-width) * 10/var(--scale-width));

    padding-bottom: calc(var(--scale-media-width) * 50/var(--scale-width));
}

#main-container
{
    position: absolute;
    left: 0px;
    top: calc(var(--scale-media-width) * 80/var(--scale-width));
    width: 100vw;

    background: linear-gradient(var(--white-darker), var(--white) 20px);

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#main
{
    width: var(--scale-media-width);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

p
{
    position: relative;
    color: var(--black);
    text-align: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

iframe, .iframe
{
    position: relative;
    width: calc(var(--scale-media-width) * 1600/var(--scale-width));
    height: calc(var(--scale-media-width) * 1000/var(--scale-width));

    transform: scale(0.5);

    background: black;
}

/*For divs imitating iframes*/
.iframe
{
    --src: "";
    background: none;
}

input, textarea
{
    background: var(--white);
    color: var(--black);
}