.news-row * {
  min-width: 0;
  min-height: 0;
}

.music-panel {
    --panel-width: 800;
    width: 100%;
    overflow: clip;
}

.music-panel p {
    width: 100%;
    text-align: left;
}

.music-panel div {
    --width: var(--panel-width);
}

@media (max-width: 1050px) {
  .music-panel {
    --panel-width: 1600;
  }
}